<launch>
    <!-- Cargar todos los parámetros desde el archivo config -->
    <!-- <rosparam file="$(find squad_exploracion)/config/config.yaml" command="load"/> -->

    <!-- Iniciar el nodo de detección de objetos -->
    <node pkg="squad_exploracion" type="squad_object_detection_action.py" name="squad_object_detection_action" output="screen"/>
    
    <!-- Lanzar el nodo de explore_lite de exploracion de forntereas -->
    <include file="$(find explore_lite)/launch/explore.launch"/>

</launch>
